---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-1/3">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-10 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-10"
  >
    <!-- Clients Group SVGs -->
    <!-- First -->
    <svg
      height="300pt"
      viewBox="404.2 249.64 199.6 112.72"
      width="150pt" height="150pt"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="m444.91 271.33s9.2-21.69 58.04-21.69 59.05 21.69 59.05 21.69-16.7-10.85-30.78-10.85-18.97 10.39-18.85 13.46h-17.94s-1.7-13.4-19.19-13.4c-12.39 0-26.36 8.18-30.33 10.79zm0 15.22s9.2 21.69 58.04 21.69 59.05-21.69 59.05-21.69-16.7 10.85-30.78 10.85-18.97-10.39-18.85-13.46h-17.94s-1.7 13.4-19.19 13.4c-12.39 0-26.36-8.18-30.33-10.79zm-12.8 45.21h-27.91v6.52h9.86v23.97h8.13v-23.97h9.91v-6.52zm20.59 13.76h-7.41l13.52 16.73h8.95s-8.04-9.89-8.81-10.9c1.88-.82 3.27-2.12 4.28-3.66s2.74-5.39.82-9.96-6.98-5.97-8.95-5.97h-19.1v30.6h8.13v-23.91h8.52s3.71 1.11 3.71 3.32c0 3.94-3.66 3.75-3.66 3.75zm127.26-.06h-7.41l13.52 16.73h8.95s-8.04-9.89-8.81-10.9c1.88-.82 3.27-2.12 4.28-3.66s2.74-5.39.82-9.96-6.98-5.97-8.95-5.97h-19.1v30.6h8.13v-23.91h8.52s3.71 1.11 3.71 3.32c0 3.95-3.66 3.75-3.66 3.75zm-97.3 16.9c11.81 0 14.12-6.83 14.12-8.71v-21.89h-7.75v20.55c0 .72-1.06 4.28-6.5 4.28s-6.01-4.04-6.01-4.04v-20.79h-7.99v21.94c0 .68 1.45 8.66 14.13 8.66zm37.53-30.6h-18.75v30.6h8.04v-10.15h10.71c5.65 0 10.22-4.58 10.22-10.23 0-5.64-4.57-10.22-10.22-10.22zm-2.05 13.91h-8.66v-7.31h8.66c2.02 0 3.66 1.64 3.66 3.66s-1.64 3.65-3.66 3.65zm23.49 10.1v-5.44h13.52v-6.5h-13.52v-5.49h17.32v-6.59h-25.6v30.6h25.6v-6.59h-17.32zm62.17-20.9c0 2.49-1.91 4.45-4.39 4.45-2.46 0-4.42-1.96-4.42-4.45 0-2.44 1.96-4.39 4.42-4.39 2.48 0 4.39 1.96 4.39 4.39zm-7.71 0c0 1.96 1.41 3.51 3.35 3.51 1.88 0 3.27-1.55 3.27-3.48 0-1.96-1.39-3.54-3.29-3.54-1.92 0-3.33 1.58-3.33 3.51zm2.64 2.31h-.99v-4.39c.39-.08.94-.13 1.65-.13.81 0 1.17.13 1.49.32.23.19.42.54.42.96 0 .48-.37.86-.89 1.02v.05c.42.16.65.48.78 1.07.13.67.21.94.31 1.1h-1.07c-.13-.16-.21-.56-.34-1.07-.08-.48-.34-.7-.89-.7h-.47zm.03-2.49h.47c.55 0 .99-.19.99-.64 0-.4-.29-.67-.92-.67-.26 0-.44.03-.55.05v1.26z"
        fill="#cb5f32"></path></svg
    >
    <!-- Second -->
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="150pt" height="150pt" viewBox="0 0 500.000000 456.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,456.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M20 2260 l0 -670 2480 0 2480 0 0 670 0 670 -2480 0 -2480 0 0 -670z
m1834 520 c211 -80 267 -338 104 -485 -49 -44 -137 -85 -184 -85 -14 0 -24 -4
-22 -10 2 -5 76 -88 166 -185 l163 -175 -123 1 -123 0 -173 185 -174 184 -124
0 -124 0 0 100 0 100 271 0 271 0 29 29 c47 48 38 116 -21 146 -24 12 -77 15
-290 15 l-260 0 0 100 0 100 280 0 c256 0 284 -2 334 -20z m-1404 -315 c0
-349 2 -367 51 -412 38 -34 93 -43 257 -43 l152 0 0 390 0 390 95 0 95 0 0
-486 0 -485 -302 3 -303 3 -51 27 c-65 34 -127 104 -156 177 -22 54 -23 69
-26 409 l-3 352 95 0 96 0 0 -325z m2372 292 c62 -30 115 -83 150 -149 18 -33
23 -60 23 -118 0 -65 -4 -82 -30 -129 -47 -84 -122 -136 -243 -168 l-32 -8
165 -175 c90 -96 164 -178 165 -182 0 -5 -51 -8 -113 -8 l-114 0 -177 185
-177 184 -127 3 -127 3 -3 98 -3 97 261 0 c292 0 310 3 336 66 12 29 12 39 0
68 -26 63 -44 66 -336 66 l-260 0 0 101 0 100 293 -3 292 -3 57 -28z m1098
-82 l0 -115 -395 0 -395 0 0 115 0 115 395 0 395 0 0 -115z m702 87 c102 -41
182 -123 211 -216 8 -29 12 -138 12 -381 l0 -340 -97 -3 -98 -3 0 111 0 110
-190 0 -189 0 -3 -107 -3 -108 -97 -3 -98 -3 0 487 0 486 248 -4 c227 -4 252
-6 304 -26z m-702 -467 l0 -95 -294 0 -294 0 7 -33 c10 -44 24 -67 58 -99 55
-53 84 -58 313 -58 l210 0 0 -96 0 -95 -252 3 c-253 3 -253 3 -309 31 -73 35
-152 119 -192 204 -30 64 -32 76 -35 201 l-4 132 396 0 396 0 0 -95z"/>
<path d="M4270 2366 l0 -196 190 0 190 0 0 136 c0 153 -10 188 -64 227 -28 20
-45 22 -173 25 l-143 3 0 -195z"/>
</g>
</svg>
    <!-- Third -->
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="150pt" height="150pt" viewBox="0 0 500.000000 601.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,601.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M0 5067 l0 -942 1568 -1568 1567 -1567 930 2 930 3 2 940 2 940
-1562 1568 -1562 1568 -937 -1 -938 0 0 -943z m3219 -839 l1471 -1473 0 -727
0 -728 -717 0 -718 -1 -1472 1478 -1472 1478 -1 723 0 722 719 0 719 0 1471
-1472z"/>
<path d="M690 4815 l0 -605 24 -6 c13 -3 82 -4 152 -2 l129 3 3 608 2 607
-155 0 -154 0 -1 -605z"/>
<path d="M1310 4286 c0 -434 1 -468 20 -527 37 -119 136 -236 245 -290 295
-145 626 7 711 326 11 38 14 157 14 503 l0 453 -152 -3 -153 -3 -5 -475 c-5
-515 -4 -503 -62 -557 -47 -44 -136 -57 -202 -29 -41 17 -94 81 -101 121 -3
16 -6 235 -8 485 l-2 455 -152 3 -153 3 0 -465z"/>
<path d="M2799 3880 c-234 -37 -371 -185 -372 -400 0 -183 78 -281 305 -381
171 -76 197 -90 234 -131 29 -32 34 -45 34 -87 0 -60 -29 -106 -85 -135 -33
-17 -57 -21 -140 -21 -105 1 -169 17 -277 71 -26 13 -50 24 -53 24 -3 0 -5
-63 -5 -140 l0 -139 53 -16 c159 -46 375 -59 510 -30 155 33 247 97 304 212
38 77 38 77 38 203 0 104 -3 131 -19 160 -56 103 -122 154 -307 235 -165 73
-228 126 -236 195 -6 57 23 104 86 137 77 40 189 25 384 -52 16 -7 17 3 17
118 0 70 -4 128 -10 132 -5 3 -49 14 -98 25 -104 23 -283 33 -363 20z"/>
<path d="M3576 2668 c-264 -811 -336 -1036 -336 -1047 0 -9 42 -11 156 -10
181 1 155 -22 210 179 21 74 42 138 48 142 14 10 418 10 432 0 5 -4 30 -77 55
-162 l44 -155 150 -3 c82 -1 154 -1 161 2 8 3 -66 242 -220 718 l-232 713
-172 3 -171 2 -125 -382z m374 -210 c38 -142 70 -260 70 -263 0 -3 -68 -5
-151 -5 -139 0 -150 1 -145 18 3 9 33 116 66 237 71 258 82 293 86 280 2 -5
35 -126 74 -267z"/>
<path d="M3673 731 c-147 -67 -149 -362 -3 -436 67 -33 147 -25 194 21 l26 27
0 -30 c0 -53 -30 -131 -63 -167 -48 -50 -123 -58 -209 -21 -16 6 -18 1 -18
-48 0 -53 1 -55 31 -66 41 -14 143 -14 194 0 57 16 126 89 155 164 19 50 24
85 28 202 4 123 1 151 -16 210 -23 73 -71 132 -125 152 -46 18 -147 13 -194
-8z m180 -112 c39 -53 34 -172 -8 -215 -32 -32 -87 -33 -119 -1 -44 44 -46
169 -4 222 17 22 27 26 66 23 35 -2 49 -9 65 -29z"/>
<path d="M4125 737 c-42 -13 -41 -10 -37 -92 l2 -35 38 16 c53 22 142 23 176
1 57 -37 59 -120 4 -159 -21 -15 -51 -23 -90 -26 l-58 -4 0 -48 0 -47 54 -6
c93 -9 136 -46 136 -115 0 -38 -35 -90 -68 -103 -38 -15 -119 -13 -169 5 l-41
15 -7 -49 c-4 -27 -4 -53 -1 -59 11 -17 116 -33 190 -29 162 8 259 118 232
262 -9 47 -57 102 -103 117 l-36 11 45 25 c53 29 77 66 85 131 8 68 -21 131
-78 169 -38 25 -52 28 -138 30 -55 1 -113 -3 -136 -10z"/>
<path d="M4655 727 c-144 -82 -141 -357 5 -431 66 -34 144 -25 192 21 l30 28
-7 -50 c-10 -71 -43 -142 -77 -167 -40 -28 -102 -34 -158 -14 -24 8 -45 14
-46 13 -1 -1 -4 -25 -8 -54 l-7 -52 38 -10 c50 -14 146 -14 194 1 132 39 197
192 187 437 -7 162 -41 236 -130 282 -54 28 -160 26 -213 -4z m186 -107 c40
-54 32 -177 -13 -220 -24 -22 -68 -26 -100 -9 -58 31 -65 182 -10 242 25 28
99 20 123 -13z"/>
<path d="M3196 668 c-46 -40 -85 -77 -85 -81 -1 -5 11 -25 26 -45 15 -20 29
-39 30 -41 2 -3 23 14 46 37 24 23 46 42 50 42 4 0 7 -128 7 -285 l0 -285 65
0 65 0 0 365 0 365 -59 0 c-59 0 -60 0 -145 -72z"/>
</g>
</svg>
    <!-- Cuatro -->
    <svg viewBox="0 0 850.4 181.6" xmlns="http://www.w3.org/2000/svg" width="150pt" height="150pt"><path d="M90.8 0C40.7 0 0 40.7 0 90.8s40.7 90.8 90.8 90.8 90.8-40.7 90.8-90.8S140.9 0 90.8 0zm0 172.5c-45.1 0-81.7-36.7-81.7-81.7S45.7 9.1 90.8 9.1s81.7 36.7 81.7 81.7-36.6 81.7-81.7 81.7z"/><path d="M123.2 32.6c-.3-.2-.7-.3-1.1-.3-1.2 0-2.1.9-2.1 2.1v28.4c0 1-.8 1.8-1.8 1.8h-55c-1 0-1.7-.8-1.8-1.8V34.4c0-.4-.1-.7-.3-1.1-.6-1-1.9-1.3-2.9-.7-20.3 12.5-32.6 34.2-32.6 58.2s12.3 45.7 32.8 58.2c.3.2.7.3 1.1.3 1.2 0 2.1-.9 2.1-2.1v-28.4c0-1 .8-1.7 1.8-1.8h55c1 0 1.8.8 1.8 1.8v28.4c0 .4.1.7.3 1.1.6 1 1.9 1.3 2.9.7 20.5-12.5 32.8-34.2 32.8-58.2s-12.5-45.7-33-58.2zM51 126.4l.3 3.4-2.2-2.7c-16.9-21.3-16.9-51.4 0-72.7L51 52l.3-.3-.3 3.5c-.3 2.8-.4 5.7-.4 8.6v53.9c0 2.9.2 5.8.4 8.7zm69-22c0 1-.8 1.8-1.8 1.8h-55c-1 0-1.7-.8-1.8-1.8V77.2c0-1 .8-1.8 1.8-1.8h55c1 0 1.8.8 1.8 1.8zm12.4 22.7l-2.2 2.7.3-3.4c.3-2.8.4-5.7.4-8.6v-54c0-2.9-.1-5.8-.4-8.6l-.1-1.5-.1-1.6v-.4l2.1 2.7c8.2 10.2 12.7 23.2 12.7 36.3s-4.5 26.2-12.7 36.4z"/><g fill="#f80000"><path d="M318.6 89.2c-.5-.2-1.1-.4-1.1-1 0-.4.2-.7.6-.9.7-.3 18-6.5 18-26.9 0-22.7-15.3-36.2-41.1-36.2h-62.5v133.4h68.2c19.9 0 41.3-14.1 41.3-36.8 0-21.7-16.4-29.3-23.4-31.6zM264 51.5c0-.5.4-.9.9-.9h24.8c8.2 0 13.8 5.5 13.8 13.7 0 6.4-5 13.3-14.4 13.3h-24.2c-.5 0-.9-.4-.9-.9zm25.7 79.8h-24.8c-.5 0-.9-.4-.9-.9v-26.6c0-.5.4-.9.9-.9h24.2c11.9 0 18.7 5.1 18.7 14.1 0 9.3-6.3 14.3-18.1 14.3zM553.1 77.3l-4.8-1C537.5 74 527 71.1 527 61.8s8.7-13.5 17.3-13.5c10.1 0 20.1 4.5 27.7 12.3L591.8 41c-8.5-9.4-23.6-20.2-48-20.2-29.4 0-49.2 16.7-49.2 41.6 0 26.3 20.7 36.2 38.1 39.9l4.7 1c16.9 3.6 24.9 6.3 24.9 15.9 0 8.6-7.7 14.3-19.1 14.3-13.4 0-25.3-5.9-34.3-17l-20.3 19.9c10.8 12.8 25.1 24.4 55 24.4 25.5 0 51.4-14.8 51.4-43.2-.1-29.1-19.9-35.7-41.9-40.3zM816.6 24.2V73c0 .5-.4.9-.9.9h-41c-.5 0-.9-.4-.9-.9V24.2h-33.6v133.4h33.6v-52.4c0-.5.4-.9.9-.9h41c.5 0 .9.4.9.9v52.4h33.8V24.2zM672.6 130.3c-15.1 0-31.4-12.6-31.4-40.3 0-25.3 15.3-38.5 30.4-38.5 11 0 18.7 4.6 24.8 14.8l25.8-17.1C709 29.8 693.3 21 671.4 21c-42.9 0-62.1 34.7-62.1 69 0 41.7 25.4 70.8 61.7 70.8 27 0 39.3-9.9 52.2-28.2l-26-17.5c-5.8 9.4-12.1 15.2-24.6 15.2zM417.5 20.8c-36.7 0-61.3 28.1-61.3 70s24.6 70 61.3 70 61.3-28.1 61.3-70-24.6-70-61.3-70zm0 109.5c-18 0-29.6-15.5-29.6-39.5 0-23.9 11.6-39.3 29.6-39.3 18.1 0 29.8 15.4 29.8 39.3 0 24-11.7 39.5-29.8 39.5z"/></g></svg>
    <!-- Cinco -->
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="150pt" height="150pt"  viewBox="0 0 500.000000 500.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,500.000000) scale(0.100000,-0.100000)"
fill="#FF0000" stroke="none">
<path d="M2998 3127 c-35 -30 -48 -58 -48 -106 0 -33 7 -49 33 -77 28 -31 41
-37 85 -42 50 -4 53 -3 93 37 41 40 41 42 37 98 -4 48 -10 61 -37 85 -42 37
-122 40 -163 5z"/>
<path d="M4641 3046 l-163 -82 27 -18 c51 -34 55 -59 55 -380 0 -306 -4 -340
-42 -351 -11 -4 -18 -16 -18 -31 l0 -24 195 0 195 0 0 25 c0 15 -6 25 -14 25
-8 0 -22 10 -30 22 -14 20 -16 80 -16 460 0 344 -3 438 -12 437 -7 0 -87 -37
-177 -83z"/>
<path d="M410 3087 c-45 -22 -93 -59 -156 -122 -81 -79 -154 -173 -154 -197 0
-4 14 -8 30 -8 l30 0 0 -267 c0 -148 -4 -273 -8 -279 -4 -6 -17 -16 -29 -23
-50 -26 -20 -31 182 -31 127 0 205 4 205 10 0 5 -11 12 -25 16 -53 13 -55 27
-55 311 l0 263 54 0 c53 0 68 10 59 38 -3 7 -24 12 -59 12 -51 0 -55 2 -83 40
-43 60 -55 95 -44 133 18 63 101 72 132 14 9 -17 28 -44 43 -61 22 -26 33 -31
68 -30 58 2 90 34 90 89 0 112 -145 159 -280 92z"/>
<path d="M3411 2955 l-163 -160 35 -3 35 -3 4 -242 c3 -225 5 -245 24 -282 27
-50 49 -70 98 -90 86 -36 206 -12 256 52 l22 28 -47 7 c-28 4 -57 16 -71 29
-24 22 -24 23 -24 261 l0 238 64 0 c49 0 65 4 70 16 15 39 8 44 -64 44 l-69 0
-3 133 -3 132 -164 -160z"/>
<path d="M2603 3032 l-173 -64 25 -30 c22 -26 55 -112 55 -144 0 -9 -17 -4
-50 13 -76 39 -133 41 -200 6 -104 -55 -166 -180 -164 -333 1 -94 19 -158 65
-230 42 -66 88 -93 165 -98 56 -4 69 -1 119 27 30 17 57 31 60 31 3 0 5 -11 5
-25 l0 -25 170 0 c163 0 170 1 170 20 0 11 -6 20 -13 20 -8 0 -22 9 -33 21
-18 20 -19 46 -24 449 l-5 427 -172 -65z m-110 -322 l27 -30 0 -186 c0 -108
-4 -193 -10 -205 -13 -23 -61 -49 -93 -49 -13 0 -36 9 -51 21 l-26 20 0 208
c0 151 3 211 13 223 37 46 96 45 140 -2z"/>
<path d="M4030 2864 c-168 -29 -258 -110 -235 -213 12 -58 93 -79 140 -38 21
18 28 35 35 90 11 91 29 117 80 117 56 0 80 -39 80 -131 l0 -65 -52 -18 c-135
-47 -272 -136 -303 -197 -38 -72 -9 -167 64 -216 65 -44 202 -23 269 39 l22
21 23 -21 c62 -59 176 -78 253 -43 41 19 65 41 44 41 -6 0 -22 11 -35 25 -25
24 -25 26 -25 212 -1 103 -5 208 -9 233 -11 57 -66 109 -144 138 -56 21 -160
34 -207 26z m78 -436 l-3 -132 -32 -9 c-69 -20 -109 51 -81 144 12 43 84 129
107 129 8 0 11 -34 9 -132z"/>
<path d="M766 2826 c-76 -32 -139 -94 -179 -176 -29 -58 -32 -73 -32 -155 0
-82 3 -97 33 -157 39 -80 111 -149 180 -173 74 -26 176 -30 252 -11 108 28
181 88 229 186 23 48 26 67 26 155 0 93 -2 105 -33 167 -37 76 -83 120 -162
157 -45 21 -73 26 -155 28 -88 3 -107 1 -159 -21z m220 -50 l35 -35 -3 -251
-3 -252 -28 -24 c-33 -28 -100 -33 -133 -9 -41 28 -45 59 -42 309 l3 238 33
29 c47 42 93 40 138 -5z"/>
<path d="M1767 2839 c-46 -11 -89 -32 -106 -53 -21 -25 -31 -19 -31 19 0 19
-3 35 -6 35 -3 0 -77 -32 -164 -72 -145 -66 -157 -73 -139 -86 43 -30 49 -61
49 -262 0 -177 -1 -191 -20 -210 -11 -11 -27 -20 -35 -20 -8 0 -15 -7 -15 -15
0 -13 27 -15 202 -13 150 2 202 6 206 16 2 6 -4 12 -13 12 -9 0 -27 11 -40 25
l-25 24 0 219 0 219 25 23 c32 30 79 31 108 1 21 -21 22 -29 25 -281 l3 -260
169 0 c141 0 170 2 170 14 0 8 -10 18 -22 22 -56 17 -58 22 -58 220 0 244 -14
306 -81 372 -47 46 -131 68 -202 51z"/>
<path d="M3045 2782 c-82 -36 -151 -67 -153 -68 -2 -1 8 -13 22 -27 37 -37 46
-87 46 -258 0 -170 -8 -210 -45 -227 -14 -7 -25 -18 -25 -27 0 -13 27 -15 195
-15 168 0 195 2 195 15 0 9 -11 20 -25 27 -13 6 -29 24 -35 41 -6 18 -10 143
-10 318 0 159 -3 289 -7 288 -5 0 -75 -30 -158 -67z"/>
<path d="M80 1965 l0 -125 2410 0 2410 0 0 125 0 125 -2410 0 -2410 0 0 -125z
m2342 73 c10 -11 15 -24 12 -29 -8 -14 -47 -10 -68 6 -10 8 -23 12 -27 9 -19
-11 -7 -23 31 -29 25 -4 47 -16 60 -32 25 -32 25 -36 -3 -69 -43 -50 -167 -30
-167 28 0 23 55 26 64 2 3 -9 15 -14 28 -12 35 5 28 19 -16 35 -72 24 -95 63
-58 95 36 33 115 31 144 -4z m2013 18 c18 -8 38 -23 44 -34 17 -32 13 -97 -6
-121 -36 -44 -140 -44 -175 -1 -22 28 -24 97 -3 128 14 19 57 39 93 41 7 1 28
-5 47 -13z m-4085 -82 c19 -48 37 -91 38 -95 2 -5 -12 -9 -31 -9 -22 0 -37 6
-41 15 -3 9 -18 15 -40 15 -21 0 -36 -6 -40 -15 -6 -16 -66 -22 -66 -7 0 5 12
37 26 73 15 35 30 74 35 87 7 17 16 22 46 22 l38 0 35 -86z m128 16 l-3 -70
48 0 c44 0 47 -2 47 -25 0 -25 -1 -25 -80 -25 l-80 0 0 95 0 95 36 0 36 0 -4
-70z m182 1 c0 -52 4 -70 15 -75 35 -13 45 4 45 75 l0 69 35 0 35 0 0 -73 c0
-60 -4 -77 -20 -95 -34 -36 -124 -34 -157 4 -19 21 -23 37 -23 95 l0 69 35 0
35 0 0 -69z m272 17 l15 -53 14 50 15 50 47 3 48 3 -3 -93 -3 -93 -27 -3 c-28
-3 -28 -3 -29 55 l-1 58 -17 -55 c-14 -47 -21 -55 -43 -58 -24 -3 -28 1 -38
40 -17 66 -18 67 -19 11 -1 -52 -2 -53 -31 -53 l-30 0 0 95 0 95 44 0 43 0 15
-52z m238 -43 l0 -95 -35 0 -35 0 0 95 0 95 35 0 35 0 0 -95z m142 49 l33 -47
3 47 c3 44 5 46 33 46 l29 0 0 -95 0 -95 -30 0 c-23 0 -36 10 -65 46 l-35 47
0 -47 c0 -46 0 -46 -35 -46 l-35 0 0 95 0 95 34 0 c30 0 40 -7 68 -46z m208
-49 l0 -95 -35 0 -35 0 0 95 0 95 35 0 35 0 0 -95z m200 30 c0 -82 -14 -112
-56 -124 -56 -15 -114 11 -114 51 0 24 55 25 68 2 18 -32 32 -3 32 67 l0 69
35 0 35 0 0 -65z m100 1 c0 -71 17 -99 48 -79 13 7 18 28 20 77 l3 66 36 0 35
0 -4 -75 c-2 -52 -8 -80 -20 -91 -35 -35 -139 -34 -165 2 -8 11 -13 47 -13 91
l0 73 30 0 30 0 0 -64z m275 17 c10 -43 25 -67 25 -42 0 8 5 31 11 52 10 36
12 37 54 37 l45 0 0 -95 0 -95 -30 0 c-29 0 -30 1 -31 53 l-1 52 -15 -52 c-14
-47 -19 -53 -42 -53 -24 0 -29 6 -43 58 l-16 57 -1 -57 c-1 -58 -1 -58 -31
-58 l-30 0 0 96 0 95 47 -3 c46 -3 47 -4 58 -45z m445 15 l0 -32 33 32 c27 26
41 32 77 32 l45 -1 -39 -34 -40 -33 37 -56 c20 -31 37 -58 37 -61 0 -3 -18 -5
-40 -5 -35 0 -42 4 -56 33 -22 42 -21 42 -39 27 -8 -7 -15 -23 -15 -36 0 -21
-5 -24 -35 -24 l-35 0 0 95 0 95 35 0 c33 0 35 -2 35 -32z m240 -63 l0 -95
-35 0 -35 0 0 95 0 95 35 0 35 0 0 -95z m315 75 c19 -22 14 -67 -9 -76 -11 -4
-8 -14 12 -45 l26 -40 36 88 37 88 39 0 39 0 37 -90 37 -90 -32 -3 c-20 -2
-35 2 -43 12 -14 20 -70 21 -78 1 -4 -11 -22 -15 -75 -15 -69 0 -70 0 -91 35
-12 19 -26 35 -31 35 -5 0 -9 -16 -9 -35 0 -33 -2 -35 -35 -35 l-35 0 0 95 0
95 78 0 c66 0 82 -3 97 -20z m420 14 c37 -15 57 -94 33 -137 -20 -37 -41 -46
-110 -47 l-68 0 0 95 0 95 64 0 c35 0 72 -3 81 -6z m145 -89 l0 -95 -35 0 -35
0 0 95 0 95 35 0 35 0 0 -95z m190 17 c0 -101 -18 -120 -107 -114 -27 2 -53
28 -53 53 0 25 55 27 64 3 5 -13 9 -14 21 -4 10 9 15 32 15 76 l0 64 30 0 30
0 0 -78z m200 -8 c19 -48 37 -91 38 -95 2 -5 -12 -9 -31 -9 -22 0 -37 6 -41
15 -3 9 -18 15 -40 15 -21 0 -36 -6 -40 -15 -6 -16 -66 -22 -66 -7 0 5 12 37
26 73 15 35 30 74 35 87 7 17 16 22 46 22 l38 0 35 -86z m220 61 c0 -21 -5
-25 -30 -25 l-30 0 0 -70 0 -70 -35 0 -35 0 0 69 0 70 -32 3 c-25 2 -34 8 -36
26 -3 22 -1 22 97 22 l101 0 0 -25z m427 13 c21 -27 21 -48 1 -73 -18 -23 -19
-28 -5 -43 8 -9 20 -27 26 -39 11 -22 10 -23 -27 -23 -34 0 -41 4 -58 35 -24
46 -44 45 -44 -1 0 -34 -1 -35 -32 -32 l-33 3 -2 80 c-2 44 -1 86 2 93 3 8 29
12 83 12 52 0 83 -4 89 -12z m123 -83 l0 -95 -35 0 -35 0 0 95 0 95 35 0 35 0
0 -95z"/>
<path d="M4362 2008 c-17 -17 -15 -73 3 -88 20 -17 52 -4 59 25 13 52 -29 96
-62 63z"/>
<path d="M267 1978 c-9 -33 -9 -35 8 -35 16 0 20 24 6 45 -6 10 -10 8 -14 -10z"/>
<path d="M2990 2006 c0 -11 9 -16 26 -16 31 0 28 23 -4 28 -15 2 -22 -2 -22
-12z"/>
<path d="M3227 1979 c-10 -35 -9 -39 8 -39 16 0 18 14 6 44 -7 18 -8 18 -14
-5z"/>
<path d="M3436 2013 c-3 -4 -6 -26 -6 -50 0 -42 1 -44 28 -41 24 3 27 7 27 42
0 30 -5 40 -22 47 -11 4 -24 5 -27 2z"/>
<path d="M3966 1974 c-10 -25 -7 -34 9 -34 8 0 15 9 15 19 0 26 -16 35 -24 15z"/>
<path d="M4590 2005 c0 -12 7 -15 25 -13 14 2 26 8 26 13 0 6 -12 11 -26 13
-18 2 -25 -1 -25 -13z"/>
</g>
</svg>

  </div>
</section>
